
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: rgb(32, 88, 88) !important;
  font-size: large !important;
}
.ant-tabs-tab{
  color: rgb(32, 88, 88) !important;
  font-size: large !important;
}
.ant-modal-body {
  height: 400px !important;
  overflow: auto !important;
}