.mainBox{
    height: 100%;
}
.topPortion{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgb(226, 229, 229);
}
.headerTitle{
    color: #205858;
    font-size: 30px;
    font-weight: 500;
}
.barsIcon{
    margin-top: 5px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 244, 244);
    color: rgb(26, 26, 26);
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 99px;
    border: none;
    transition: background 0.2s ease 0s;
}
.addPostBtn{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(32, 88, 88);
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 12px 24px;
    max-height: 45px;
    width: auto;
    font-size: 0.9375rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    cursor: pointer;
    margin-left: 20px;
}
.tabsContent{
    padding: 20px;
}
.bottomPortion{
    height: calc(100% - 100px);
    width: 100%;
}
.formsContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    align-items: center;
}
.textContent{
    display: block !important;
    width: 50%;
}
.titleInput{
    background-color: white;
    border: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: 1.75rem;
    border: none;
    color: inherit;
    width: 100%;
}
.titleInput:focus-visible {
    outline: none !important;
}
.textAreaInput{
    background-color: white;
    width: 100%;
    border: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: 0.9375rem;
    resize: none;
}
.textAreaInput:focus-visible {
    outline: none !important;
}
.insideDropZone{
    display: flex;
    align-items: center;
    text-align: start;
    background-color: white;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 20px 0px;
    border-radius: 6px;
    padding: 30px;
    border: 1px solid rgb(234, 240, 240);
    word-break: break-word;
}
.cameraIcon{
    margin-right: 15px;
    height: 32px;
    width: 32px;
    border-radius: 99px;
    background-color: rgb(32, 88, 88);
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: medium !important;
    color: #fff;
}
.uploadPhotoText{
    color: rgb(26, 26, 26) !important;
    font-size: 0.8125rem !important;
    font-weight: 600 !important;
}
.limitPhotoText{
    color: rgb(128, 128, 128) !important;
    font-size: 0.8125rem !important;
    font-weight: 400 !important;
}
.filePreviewPortion{
    margin-top: 20px;
}
.filesBox{
    margin: 5px;
    position: relative;
}
.closeIconStyle{
    font-size: 40px !important;
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(242, 244, 244) !important;
    cursor: pointer !important;
}
.footerBtn{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 20px 0;
}
.savedraftBtn{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 244, 244);
    color: rgb(26, 26, 26);
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 12px 24px;
    max-height: 45px;
    width: auto;
    font-size: 0.9375rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 1;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    cursor: pointer;
}
.publishBtn{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 88, 88);
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 12px 24px;
    max-height: 45px;
    width: auto;
    font-size: 0.9375rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 1;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    margin-left: 10px;
    cursor: pointer;
}